<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEEKLY SALES PREDICTION</title>
</head>
<body>
    <div class="login">
        <h1>WEEKLY SALES PREDICTION</h1>
        <pre>
            Temperature Categories
            -20-20[category 1]
             20-40[category 2]
             40-60[category 3]
             60-80[category 4]
             80-100[category 5]
             100-120[category 6]
        </pre>
        <form action="{{url_for('predict')}}"method="post">
            <input type="text" name="Holiday flag" placeholder="Holiday flag" required="'required" />
            <input type="text" name="Month" placeholder="Month" required="'required" />
            <input type="text" name="Year" placeholder="Year" required="'required" />
            <input type="text" name="Week" placeholder="Week" required="'required" />
            <input type="text" name="temperature category" placeholder="temperature category" required="'required" />

            <button type="submit" class="'bt btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
        {{prediction_text}}
    </div>
</body>
</html>